{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <h3>Signup Here</h3>
    {% if messages %}
    <div class="alert alert-danger" role="alert">
       <ul>
          {% for i in messages %}
                <li>{{ i }}</li>
          {% endfor %}
       </ul>
    </div>
    {% endif %}

    <div>
        <form action="" method="POST">
            {% csrf_token %}

            {% for i in form %}
            <div>
                {{ i.label_tag }} {{i}} <small>{{i.errors|striptags}}</small>
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-success btn-sm mt-2 mb-2" value="submit">
            {% if form.non_field_errors %}
            <p>{{i}}</p>
            {% for i  in form.non_field_errors %}
            {% endfor %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}